{%extends "base.htm"%}
{%block content%}
  <div class="container">
    <div class="container jumbotron">
      <h1 align = 'center'>{{title}}</h1>
      <a href="{{url_for('static', filename= post.author.profile_image)}}"><img src="{{url_for('static', filename= post.author.profile_image)}}"  width = "150"></a>
      <h4 align ="right">Written by: {{post.author.fname}}({{post.author.username}})</h4>
      <h6 align = "right">Published: {{post.date.strftime('%B %d, %Y')}}</h6><br><br>
      <div align = "center">
        <a href="{{url_for('static', filename= post.blog_image)}}"><img src="{{url_for('static', filename= post.blog_image)}}" alt = "" align = "center"></a><br><br><br>
      </div>
      <p>{{post.text}}</p>
      <div align = "center">
          <a class = "btn btn-primary text-center" href="{{url_for('blogpost.make_reply', blog_post_id = post.id)}}">Comments</a>
      </div>
    </div>


    {%if post.author == current_user%}
    <div>
      <a href="{{url_for('blogpost.update', blog_post_id = post.id)}}">Update</a>
      <button type="button" class = "btn btn-danger" data-toggle = 'modal' data-target = "#del">Delete</button>
    {%endif%}
      <div class="modal" tabindex="-1" role="dialog" id = "del">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Post!!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the post</p>
      </div>
      <div class="modal-footer">
        <form action="{{url_for('blogpost.delete',blog_post_id = post.id)}}" method="post">
          <input class = "btn btn-danger" type="submit" name="" value="Delete">

        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="container" align = "center">
      <br><a href="{{url_for('users.user_posts' , username = post.author.username)}}" class="btn btn-primary">Read more Posts by {{post.author.username}}</a>
    </div>
  </div>

{%endblock%}
