{%extends "base.htm"%}
{%block content%}
  <div class="account-container">
    <form class="form" method="POST" action="" enctype="multipart/form-data">
      <h1 class="heading-1 mgb">Ask Away</h1>
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.title.label(class = 'test-hero__ques-no block')}}
        {{form.title(class = 'form__input width-full')}}
      </div>
      <div class="form-group">
        {{form.text.label(class = 'test-hero__ques-no block')}}
        {{form.text(class = 'form__input width-full')}}
      </div>
      <!-- <div class="form-group">
        {{form.picture.label(class="form-group col-md-6")}}
        {{form.picture(class="form-control-file col-md-6  ")}}
        {%if form.picture.errors%}
          {%for error in form.picture.errors%}
            <small class = 'text-danger'>{{error}}</small>
          {%endfor%}
        {%endif%}
      </div> -->
      <div class="form-group">
        {{form.submit(class  ='btn  btn-primary-color', align ='center')}}
      </div>
    </form>

  </div>
{%endblock%}
