{%extends "base.htm"%}

{%block content%}
<br><br><br><br><br><br><br>
<div align="center">
  <form class="form-group" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.comment(class = "form__input", placeholder = "Comment")}}
    </div>
    <div class="form-group">
      {{form.submit(class = "btn-primary-color")}}
    </div>
  </form>
  <div align = "left">
    <a href="{{url_for('blogpost.blog_post', blog_post_id = blog_post_id)}}" class = "btn btn-dark">Read Blog</a>
  </div>
  <div class="text-left">
    {%if replies != []%}
      {%for reply in replies%}
        <div class="container text-dark reply" >
          <div style="display:flex;">
            <a href="{{url_for('static', filename= reply.user_reply.profile_image)}}"><img src="{{url_for('static', filename= reply.user_reply.profile_image)}}" class = "rounded-circle" width = "50"></a>
            <a href="{{url_for('users.user_posts', username = reply.user_reply.username)}}"><h3>{{reply.user_reply.username}}</h3></a>
          </div>

          <small>{{reply.time.strftime('%x - %X')}}</small>
          <p>{{reply.reply}}</p>
        </div>
      {%endfor%}
    {%endif%}
  </div>

</div>

{%endblock%}
